{
  "chainDb": {
    "host": "<db_host>",
    "port": <db_port>,
    "user": "<db_user>",
    "password": "<db_user_password>",
    "name": "<db_name>"
  },
  "liminal": {
    "clientId": "<liminal_client_id>",
    "clientSecret": "<liminal_client_secret>",
    "AuthAudience": "<liminal_auth_audience>"
  },
  "fireblocks": {
    "privateKey": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
    "apiKey": "<fireblocks_api_key>"
  },
  "liminalTsmCredentials":{
    "userID": "<liminal_tsm_user_id>",
    "url": "<liminal_tsm_url>",
    "password": "<liminal_tsm_password>",
    "publicKey":"<liminal_tsm_public_key>"
  }
}